<h3 class="btn-success" style=" width: 200px; border-radius: 1rem; display: flex; justify-content: center; align-items: center; " >Login</h3>

<form class="form" action="/users/login" method="post">
    <label>gmail</label>
    <input type="email" name="gmail">
    <label>Password</label>
    <input type="password" name="password">
    <button class="btn btn-success m-3" type="submit">Submit</button>
        <a  href="/users/signup" >dont have an account..? </a>
</form>



<style>
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        margin: 20px;
    }
</style>